@font-face {
  font-family: "Island";
  src: url(../fonts/IslandMoments-Regular.ttf);
}

@font-face {
  font-family: "Righteous";
  src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

$font1: Island,
cursive;
$font2: Righteous,
serif;
$font3: Roboto,
serif;
$bg: linear-gradient(180deg, rgba(249, 149, 149, 0.5) 0%, rgba(249, 149, 149, 0.5) 27.6%, rgba(255, 226, 226, 0.5) 47.92%, rgba(255, 255, 255, 0.5) 61.46%, rgba(255, 255, 255, 0.5) 100%),
#ECECEC;
$white: #FFFF;
$black: rgb(15, 15, 15);
$grey: rgb(170, 170, 170);
$color1: #F99595;
$box-shadow: inset -1px 1px 2px 0px #b9b9b9;
$box-shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
$text-shadow: 1px 1px 2px $grey;
$text-shadow2: 0px 1px 2px #000000;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: $font3;
  background: $bg;
}

/* ScrollBar Global */
::-webkit-scrollbar {
  width: 8px;
  background: $white;
}

/* ScrollBar Ascenseur */
::-webkit-scrollbar-thumb {
  background: $color1;
  border-radius: 8px;
}